/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

/* HEADER */
header {
  background-color: black;
  color: white;
  padding: 20px;
}

header .flex {
  justify-content: space-between;
  align-items: center;
}

/* Searchbar */
.searchForm div.flex {
  flex-direction: column;
  row-gap: 5px;
}

.searchForm {
  & input,
  & button {
    padding: 5px;
    background-color: white;
    border: none;
  }
  & input {
    border-start-start-radius: 10px;
  }
  & button {
    border-end-end-radius: 10px;
    border-left: 1px dashed black;
  }
  & button:hover {
    cursor: pointer;
  }
}

/* MAIN */
main {
  background-color: rgb(67, 66, 66);
  flex-grow: 1;
  overflow-y: scroll;
}

main h2,
main h3 {
  padding: 15px;
  color: white;
}
main h3 {
  text-align: center;
}

/* Cardlist */

/* Card */
.card {
  color: white;
}

.card .flag {
  width: 50px;
  aspect-ratio: 3/2;
}

li > i {
  color: #ffd43b;
}
